<head>
  <!-- Language and content -->
  <meta charset="utf-8">
  <meta http-equiv="content-Type" content="text/html; utf-8" />
  <meta http-equiv="content-Language" content="en" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Pragma" content="no-cache" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="revisit-after" content="2 days" />
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="keywords" content="{% if page.keywords %}{{ page.keywords | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.keywords }}{% endif %}">
  <meta name="author" content="{{ site.author.name }}">
  <meta name="copyright" content="{{ site.title }}">

  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.author.avatar | absolute_url }}{% endif %}" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}" />
  
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  <meta name="theme-color" content="#000000" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/favicon/apple-touch-icon.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/favicon/favicon-32x32.png" | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/favicon/favicon-16x16.png" | relative_url }}">
  <link rel="manifest" href="{{ "/favicon/site.webmanifest" | relative_url }}">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>